@import "../../breakpoints";
.addStudents {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(92vh - 72px);
  @media (max-width: $desktop) {
    flex-direction: column;
  }
  &__CSV {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    @media (max-width: $desktop) {
      min-height: 250px;
      margin-bottom: 25px;
    }
    
    table {
      margin: 15px 0;
      font-family: sans-serif;
      overflow-x: auto;
      th,
      td {
        padding: 0.25em 0.5em;
        text-align: left;
        font-size: 14px;
        @media (max-width: $laptop) {
          font-size: 11px;
        }
      }
      td {
        background-color: #222224;
      }
      th {
        background-color: #e02735;
        @media (max-width: $tablet) {
          border-bottom: #222224 2px solid;
        }
      }
    }

    .zigzag {
      border-collapse: separate;
      border-spacing: 0.25em 1em;
      tbody tr:nth-child(odd) {
        transform: rotate(2deg);
      }
      thead tr,
      tbody tr:nth-child(even) {
        transform: rotate(-2deg);
      }
    }
    @media (max-width: $tablet) {
      table,
      thead,
      tbody,
      tr {
        display: grid;
        min-width: 300px;
      }
      .table tr {
        grid-template-columns: auto auto auto;
      }
    }
  }
  &__JSON {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    width: 25%;
    @media (max-width: $desktop) {
      width: auto;
    }
    
    div {
      text-align: left;
      margin: 15px 0;
      pre {
        max-height: 240px;
        background-color: #222224 !important;
      }
    }
  }
  div {
    padding: 10px;
    .file-input__input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .file-input__label {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      font-size: 14px;
      padding: 10px 12px;
      background-color: #e02735;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    }

    .file-input__label svg {
      height: 16px;
      margin-right: 4px;
    }
  }
}

.__json-pretty__ {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d62929;
  }
}
.preview {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.6px);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  div {
    background-color: #292a2b;
    border-radius: 10px;
    padding: 20px;
    overflow-x: auto;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }
  
    &::-webkit-scrollbar {
      width: 12px;
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #d62929;
    }
    button {
      margin: 0 15px;
    }
    table {
      margin: 15px 0;
      font-family: sans-serif;
      overflow-x: auto;
      th,
      td {
        padding: 0.25em 0.5em;
        text-align: left;
        font-size: 14px;
        @media (max-width: $laptop) {
          font-size: 11px;
        }
      }
      td {
        background-color: #222224;
      }
      th {
        background-color: #e02735;
        @media (max-width: $tablet) {
          border-bottom: #222224 2px solid;
        }
      }
    }
  }
}