form {
    width: 350px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input {
    width: 350px;
    height: 40px;
    background-color: #292A2B;
    border: none;
    line-height: 2rem;
    text-align: left;
    padding-left: 10px;
}

.loginButton {
    border: none;
    width: 80px;
    height: 25px;
    color: #f7f7f7;
    background-color: #e02735;
    line-height: 25px;
    cursor: pointer;
    font-size: 10px;
}

.lastLine, .forgotPassword {
    display: flex;
    justify-content: space-between;
}

a {
    background-color: #222224;
    text-decoration: none;
    color: white;
    font-size: 10px;
    justify-content: flex-end;
}

