.filter {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(0.6px);
          backdrop-filter: blur(0.6px);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.filter.disabled {
  display: none;
}
.filter button {
  cursor: pointer;
}
.filter button.selectedFilter {
  background-color: #676767;
}
.filter__container {
  max-width: 520px;
  max-height: 95vh;
  background: #0a0a0a;
  padding: 20px;
  overflow-y: scroll;
}
.filter__container div {
  text-align: left;
  margin-bottom: 6px;
}
.filter__container div:nth-child(1) {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__container div:nth-child(1) span {
  font-size: 28px;
  font-weight: bold;
}
.filter__container div:nth-child(1) button {
  background-color: #172a35;
  padding: 8px 10px;
}
.filter__scores span {
  display: inline-block;
  margin-bottom: 5px;
}
.filter__scores div span {
  margin-right: 3px;
}
.filter__scores div input {
  background: #292a2b;
  border: 0;
  outline: 0;
  padding: 6px 8px;
  width: 125px;
  margin-right: 15px;
}
.filter__scores div input:focus {
  outline: none !important;
}
.filter__scores div button {
  background: #292a2b;
  padding: 3px 6px;
  margin-right: 8px;
}
.filter__scores div button svg path {
  color: #e02735;
}
.filter__radio label {
  display: inline-block;
  margin-bottom: 5px;
}
.filter__radio div span {
  margin-right: 3px;
}
.filter__radio div input {
  accent-color: #e02735;
  border: 0;
  outline: 0;
  padding: 6px 8px;
  margin-right: 15px;
}
.filter__radio div input:focus {
  outline: none !important;
}
.filter__months .title {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 8px;
}
.filter__months label {
  display: inline-block;
  margin-bottom: 5px;
}
.filter__months div span {
  margin-right: 3px;
}
.filter__months div input {
  background-color: #1e1e1f;
  border: 0;
  outline: 0;
  padding: 8px 10px;
  width: 105px;
}
.filter__months div input:focus {
  outline: none !important;
}
.filter__cancelOrApply {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.filter__cancelOrApply button {
  background-color: #e02735;
  padding: 8px 10px;
  border: none;
}
.filter__cancelOrApply button:nth-child(1) {
  background: transparent;
  padding: 8px 20px;
}

.container {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 3px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 8.3333333333px;
  left: 0;
  height: 15.625px;
  width: 15.625px;
  border-radius: 50%;
  outline: #292a2b 2px solid;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  border: 1px white solid;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: none;
  background: #e02735;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) *//*# sourceMappingURL=filter.css.map */