.itemsControl {
    max-width: 1430px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: right;
    &__itemsPerPage {
      display: inline-block;
      padding: 5px;
      select {
        color: #333333;
        padding: 5px 2px;
        option {
          color: #333333;
        }
      }
    }
    &__page {
      display: inline-block;
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          margin-left: 10px;
        }
        button {
          padding: 5px 8px;
          margin-right: 5px;
          &:nth-child(2) {
            margin-left: 5px;
          }
          &.disabled {
            pointer-events: none;
            cursor: not-allowed;
            opacity: 0.65;
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            box-shadow: none;
          }
          svg path {
            color: #333333;
          }
        }
      }
    }
  }